.button {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.217);
}

html[dark] body .button {
  background-color: rgba(0, 0, 0, 0.479);
  border: 1px solid rgba(40, 40, 40, 0.627);
}
