* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100dvh;
  background-image: radial-gradient(
    at left,
    rgb(201, 201, 201),
    rgb(203, 226, 229)
  );
  font-family: "Courier New", Courier, monospace;
  font-family: "Lato";
  color: rgb(48, 48, 48);
  user-select: none;
}

html[dark] body {
  color: rgb(196, 196, 196);
  background-color: black;
  background-image: radial-gradient(at left, rgb(12, 12, 12), rgb(17, 25, 30));
}

html[dark] img {
  filter: saturate(0.8);
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-weight: unset;
}
p {
  text-wrap: pretty;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(37, 132, 172);
}

html[dark] a {
  color: rgb(12, 126, 174);
}

img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: Lato;
  src: url("/sora/Lato-Light.ttf");
}

.animate-opacity {
  animation: fade-opacity 1s ease-out forwards;
}

@keyframes fade-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}