.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 50px 0;
}

.particles-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 8px;
  z-index: 10;
}

.sectionContainer {
  position: relative;
  margin: 30px 16px 0 16px;
  max-width: 90vw;
  border-radius: 8px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.362);
  background-color: hsla(197, 15%, 72%, 0.388);
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column;
  }
  .main {
    height: unset;
  }
}

.section {
  border-radius: 8px;
  position: relative;
  padding: 40px 20px 20px 20px;
  max-height: 80vh;
  overflow: auto;
  backdrop-filter: blur(1px);
}

.sectionContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(
    to bottom left,
    rgb(229 229 229),
    rgb(191 229 255)
  );
  border-radius: inherit;
  -webkit-mask: conic-gradient(black 0 0) content-box, conic-gradient(black 0 0);
  mask: conic-gradient(black 0 0) content-box exclude, conic-gradient(black 0 0);
}

html[dark] body .sectionContainer::before {
  background: linear-gradient(
    to bottom left,
    rgb(150 212 255 / 23%),
    rgb(47 47 47)
  );
}

@media (max-width: 1300px) {
  .section {
    max-height: unset;
  }
}

html[dark] body .sectionContainer {
  background-color: hsla(204, 21%, 9%, 0.388);
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.714);
}

.intro {
  max-width: 400px;
}

.projects-section {
  /* mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  ); */
  max-width: 1100px;
  padding-bottom: 40px;
}

.sectionTitle {
  background-color: rgb(40, 40, 40);
  border: 1px solid rgba(255, 255, 255, 0.398);
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px black;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
  padding: 4px 20px;
  transform: skew(-20deg);
  position: absolute;
  top: -20px;
  left: 20px;
  z-index: 10;
}

html[dark] body .sectionTitle {
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.sectionTitle h2 {
  font-size: 20px;
  transform: skew(20deg);
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.minititle {
  font-size: 16px;
  color: rgb(89, 89, 89);
}

.subtitle {
  font-size: 16px;
}

.linkTitle {
  font-size: 18px;
  padding-left: 0px;
  color: rgb(37, 132, 172);
  cursor: pointer;
  width: 150px;
}

.activities {
  border-top: 1px solid grey;
  padding-top: 8px;
  display: flex;
  justify-content: space-evenly;
}

.hobbies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0;
}

.hobbies-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 0 16px;
}

html[dark] body .activities {
  border-top: 1px solid rgb(66, 66, 66);
}

html[dark] body .subtitle.linkTitle {
  color: rgb(12, 126, 174);
}

html[dark] body .minititle {
  color: rgb(114, 114, 114);
}

.projects {
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
}

@media (max-width: 1300px) {
  .projects {
    height: unset;
  }
}
