.image-content {
  filter: blur(2px);
}

.image-container {
  overflow: hidden;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  transform: scale(0.9);
  opacity: 0.5;
  border-radius: 8px;
  transition-duration: 0.2s;
  overflow: hidden;
  width: 100%;
}

.icon {
  filter: saturate(0);
}

html[dark] body .icon {
  filter: saturate(0) brightness(0.7);
}

.icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 240px;
  height: 135px;
  font-size: 60px;
  opacity: 1;
  transition-duration: 0.2s;
  background-color: rgba(180, 200, 220, 0.304);
  border: 1px solid rgba(85, 85, 85, 0.372);
}

html[dark] body .icon-container {
  background-color: rgba(28, 32, 37, 0.545);
  border: 1px solid rgba(47, 47, 47, 0.372);
}

.project:hover .image-content {
  filter: blur(0px);
}

.project:hover .icon-container {
  opacity: 0;
  transform: scale(0);
}

.project:hover .image {
  filter: grayscale(0);
  transform: scale(1);
  opacity: 1;
  display: flex;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 0 16px;
  border: 1px solid rgb(164, 164, 164);
  background-color: rgba(226, 226, 226, 0.357);
  border-radius: 8px;
}

html[dark] body .project {
  background-color: rgba(14, 14, 14, 0.336);
  border: 1px solid rgba(43, 43, 43, 0.796);
}

.techs {
  display: flex;
  gap: 8px;
}

.tech {
  background-color: rgba(255, 255, 255, 0.481);
  padding: 8px;
  border-radius: 100%;
  border: 1px solid grey;
}

html[dark] body .tech {
  background-color: rgba(0, 0, 0, 0.481);
  border: 1px solid rgb(51, 51, 51);
}

.project-title {
  margin: 8px;
  padding: 4px 16px;
  background-color: rgba(231, 231, 231, 0.248);
  border: 1px solid rgba(128, 128, 128, 0.276);
  border-radius: 4px;
  transform: skew(-20deg);
  box-shadow: 3px 3px 3px #0002;
}

html[dark] body .project-title {
  background-color: rgba(26, 26, 26, 0);
  border: 1px solid rgb(29, 29, 29);
}

.project-title h3 {
  transform: skew(20deg);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 8px;
}

.buttons {
  display: flex;
  gap: 8px;
}
